<div class="container">
  <div>
    <button (click)="sendToast(ToastType.PRIMARY)">Primary</button>
    <button (click)="sendToast(ToastType.SECONDARY)">Secondary</button>
    <button (click)="sendToast(ToastType.SUCCESS)">Success</button>
    <button (click)="sendToast(ToastType.INFO)">Info</button>
    <button (click)="sendToast(ToastType.WARNING)">Warning</button>
    <button (click)="sendToast(ToastType.DANGER)">Danger</button>
  </div>
</div>
<foo-toaster [position]="ToasterPosition.BOTTOM_LEFT"></foo-toaster>