<div style="width: 500px; margin: 2rem;">
  <foo-card [type]="CardType.BLANK">
    <foo-card-header>
      <h1>Hello</h1>
    </foo-card-header>
    <foo-card-body>
      <p>Testing</p>
    </foo-card-body>
    <foo-card-footer>
      <p>Footer</p>
    </foo-card-footer>
  </foo-card>
</div>
<div style="width: 500px; margin: 2rem;">
  <foo-card [type]="CardType.DEFAULT">
    <foo-card-header>
      <h1>Hello</h1>
    </foo-card-header>
    <foo-card-body>
      <p>Testing</p>
    </foo-card-body>
    <foo-card-footer>
      <p>Footer</p>
    </foo-card-footer>
  </foo-card>
</div>
<div style="width: 500px; margin: 2rem;">
  <foo-card [type]="CardType.PRIMARY">
    <foo-card-header>
      <h1>Hello</h1>
    </foo-card-header>
    <foo-card-body>
      <p>Testing</p>
    </foo-card-body>
    <foo-card-footer>
      <p>Footer</p>
    </foo-card-footer>
  </foo-card>
</div>