<div class="messages-content">
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
  <h2>Messages Side Panel</h2>
  <br /><br /><br />
</div>